@model EcommerceProject.Models.Usuario

@{
    ViewBag.Title = "Pago Exitoso";
}

<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
    <h5>Su pago fue acreditado correctamente.</h5>
</div>

<div class="row well list-group" style="margin-top: 20px">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del Prestador del Servicio</h5>
                <h6 class="card-text">Nombre y Apellido: @Model.Nombre @Model.Apellido</h6>
                <h6 class="card-text">E-Mail: @Model.Email</h6>
                <h6 class="card-text">Teléfono: @Model.Telefono</h6>
                <hr />
                <div class="float-right">
                    <a href="@Url.Action("GetContratacionesRealizadas","Account")" class="btn btn-info">Continuar</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>