@model EcommerceProject.Models.Publicacion

<div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12 col-md-12 col-xs-12">

                <!-- Title -->
                <h1 class="mt-4">@Model.Titulo</h1>
                <!-- Author -->
                <p class="lead">
                    Por
                    @Model.Usuario.Nombre @Model.Usuario.Apellido
                </p>
                <p class="lead">
                    @Model.Categoria
                </p>
                <p class="lead">
                    @Model.Ubicacion
                </p>
                <!-- Date/Time -->
                <p>Publicado el @Model.FechaDePublicacion.Date.ToString("dd/MM/yyyy")</p>
                <hr>

                <!-- Post Content -->
                <p class="lead">
                    ($)
                    <b>@Model.Precio</b>
                </p>
                <p class="lead">
                    @Model.Descripcion
                </p>
                @if (Session["UserId"] != null)
                {
                    <div class="contrataciones-box col-md-6 col-xs-12 col-lg-6">
                        <div class="form-group">
                            <label>
                                Seleccione un rango de fechas para efectuar la contratacion
                            </label>

                            <!-- hacer esto el precio es la cantidad de fechas X el precio de la publi -->

                            <input type="text"
                                   class="picker datepicker-here form-control"
                                   data-language='es'
                                   data-multiple-dates="100"
                                   data-multiple-dates-separator=", "
                                   data-position='top left' />
                        </div>
                        <button class="btn btn-success" onclick="contratar(@Session["UserId"],@Model.Id)">
                            Contratar
                        </button>
                    </div>
                }

                else
                {
                    <div class="col-md-6 col-xs-12">
                        <label>Debe estar logueado contratar <a href="@Url.Action("Login", "Account")">aquí</a></label>
                    </div>
                }
                <hr>

                <div id="bloque_comentarios">
                    <h4>Consultas</h4>
                    <hr />
                    @if (Session["UserId"] != null && Int32.Parse(Session["UserId"].ToString()) != Model.Usuario.Id)
                    {
                        <!-- Formulario de comentario -->
                        <div class="card my-4">
                            <h5 class="card-header">Deja tu comentario:</h5>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" id="texto_comentario"></textarea>
                                    </div>
                                    <button class="btn btn-primary" id="comentar_btn">Comentar</button>
                                </form>
                            </div>
                        </div>
                        <!-- fin Formulario de comentario -->
                        <hr />
                    }
                    @if (Model.Consultas != null)
                    {
                        // si tiene consultas
                        foreach (var consulta in Model.Consultas)
                        {
                            <!-- Comment with nested comments -->
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">

                                <div class="media-body">
                                    <h5 class="mt-0">@consulta.Usuario.Nombre @consulta.Usuario.Apellido</h5>
                                    @consulta.Descripcion
                                    @if (consulta.Respuesta != null)
                                    {
                                        <!--replica -->
                                        <div class="media mt-4">
                                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">

                                            <div class="media-body">
                                                <h5 class="mt-0">@consulta.Publicacion.Usuario.Nombre @consulta.Publicacion.Usuario.Apellido</h5>
                                                @consulta.Respuesta
                                            </div>
                                        </div>
                                        <!--replica -->
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var diasSelec = [];
        $(document).ready(function () {
            var idPubli = @Model.Id;
                // otro ajax para obtener los dias no disponibles
                $.ajax({
                    data: {
                        publicacionId: idPubli
                },
                type: "get",
                url: "@Url.Action("DameDiasNoDisponiblesPubli","Home")",
                    success: function (arrayDeDias) {
                        var disabledDays = arrayDeDias;
                            $('.picker').datepicker({
                            language: 'es',
                            onRenderCell: function (date, cellType) {
                                if (cellType == 'day') {
                                    var day = date.getDay(),
                                        isDisabled = disabledDays.indexOf(day) != -1;
                                    return {
                                        disabled: isDisabled
                                    }
                                }
                            },
                            minDate: new Date(),
                                onSelect: function onSelect(fd, date) {
                                    diasSelec = [];
                                    date.forEach(function (value) {
                                        diasSelec.push(JSON.stringify(value))
                                })
                            },
                    });
                },
                    error: function (result) {
                        alert("Hubo un error ", result);
                }
                });//fin ajax no disponibles

            dameContratacionesDeUnPrestador(); //ejecuta ajax de contrataciones de prestador
        }) //fin document ready

        function contratar(userId, publicacionId) {
            if (diasSelec.length == 0) {
                alert("Debe seleccionar un rango de fechas para contratar este servicio");
            } else {
                 $.ajax({
                    data: {
                        diasSeleccionados: diasSelec,
                        usuarioId: userId,
                        publicacionId: publicacionId
                },
                type: "post",
                url: "/Publication/CrearContratacion",
                    success: function (result) {
                        if (result == "NOTOK") {
                            alert("No se puede contratar a uno mismo");

                        } else {
                            window.location = "/MercadoPago/PagarContratacion?contratacionId="+result;
                        }
                },
                     error: function (result) {
                         alert("Hubo un error ", result);
                }
            });

            }

        }
        $()

        function dameContratacionesDeUnPrestador() {
            var idPrestador = @Model.Usuario.Id;
            $.ajax({
                data: {
                    prestadorId: idPrestador,
                },
                type: "get",
                url: "@Url.Action("DameContratacionesDeUnPrestador","Home")",
                success: function (result) {
                    if (result == "NOTOK") {
                        console.log("no hay contrataciones");
                    } else {
                        if (result != null) {
                            $('.picker').datepicker({
                            language: 'es',
                            onRenderCell: function (date, cellType) {
                                if (cellType == 'day') {
                                    var day = date.getDay(),
                                        isDisabled = result.indexOf(day) != -1;

                                    return {
                                        disabled: isDisabled
                                    }
                                }
                            }
                        })
                        }
                    }
                },
                error: function (result) {
                    alert("Hubo un error", result);
                }
            })
        }

        function crearConsulta(texto) {

            $.ajax({
                data: {
                    publiId: @Model.Id,
                    descripcion: texto
                },
                type: "post",
                url: "@Url.Action("CrearConsulta","Account")",
                success: function (result) {
                    if (result == "NotAllowed") {
                        alert("Debe estar logueado para comentar")
                    } else if (result == "guardado") {
                        location.reload();
                    }
                },
                error: function (result) {
                    alert("Hubo un error", result);
                }
            })
        }

        $("#comentar_btn").on("click", function (e) {
            e.preventDefault();
            var texto = $("#texto_comentario").val();
            if (!texto) {
                alert("Debe comentar algo");
            } else {
                crearConsulta(texto);
            }

        })
    </script>
}
