@model EcommerceProject.Models.Publicacion

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .checked {
                color: orange;
            }

            * {
              box-sizing: border-box;
            }

            /* Create two equal columns that floats next to each other */
            .column {
              float: left;
              width: 50%;
              padding: 10px;
              height: 300px; /* Should be removed. Only for demonstration */
            }

            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            
            .boton {
                background: none;
	            color: inherit;
	            border: none;
	            padding: 0;
	            font: inherit;
	            cursor: pointer;
	            outline: inherit;
            }
        </style>
    </head>
<hr />
<div class="flex-rectangle center color"><h4>PUBLICIDAD</h4></div>
<hr />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">

                <div class="row">
                    <div class="column">
                        <h1 class="mt-2">@Model.Titulo</h1>
                        <h2>$ @Model.Precio</h2>
                        <span class="lead">Por @Model.Usuario.Nombre @Model.Usuario.Apellido</span>

                        @if (ViewBag.calificacionPromedio > 0)
                        {<span class="lead"> (@ViewBag.CalificacionPromedio) </span>}
                        <p>
                        <p class="lead">@Model.Ubicacion</p>
                        <p class="lead">Publicado el @Model.FechaDePublicacion.Date.ToString("dd/MM/yyyy")</p>
                        <button class="boton" onclick="mostrarComentarios()"><p class="lead">Ver Opiniones</p></button>

                    </div>
                    <div class="column">
                        <div class="float-right">
                           <img src="@Model.Foto" style="width: 280px; height: 280px" />
                        </div>
                    </div>
                </div>

                <hr />
                <h3>Descripción</h3>
                <p class="lead">@Model.Descripcion</p>

                @if (Session["UserId"] != null)
                {
                    <div class="contrataciones-box col-md-6 col-xs-12 col-lg-6">
                        <div class="form-group">
                            <label>Seleccione el o los días requeridos para efectuar la contratacion.</label>
                            <input type="button" class="picker datepicker-here form-control" data-language='es' data-multiple-dates="100" data-multiple-dates-separator=", " data-position='top left' />
                        </div>

                        @if (Session["isAdmin"] == null)
                        {
                            <button class="btn btn-success" onclick="contratar(@Session["UserId"],@Model.Id)">Contratar</button>
                        }

                    </div>
                }
                else
                {
                    <div class="col-md-6 col-xs-12"><label>Debe loguarse para contratar y/o efectuar consultas. Puede hacerlo <a href="@Url.Action("Login", "Account")">aquí</a>.</label></div>
                }
                <hr />

                <div id="bloque_comentarios">
                    <h4>Consultas</h4>
                    <hr />
                    @if (Session["UserId"] != null && Int32.Parse(Session["UserId"].ToString()) != Model.Usuario.Id && Session["isAdmin"] == null)
                    {
                        <!-- Formulario de comentario -->
                        <div class="card my-4">
                            <h5 class="card-header">Deja tu comentario:</h5>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" id="texto_comentario"></textarea>
                                    </div>
                                    <button class="btn btn-primary" id="comentar_btn">Comentar</button>
                                </form>
                            </div>
                        </div>
                        <!-- fin Formulario de comentario -->
                        <hr />
                    }
                    @if (Model.Consultas != null)
                    {
                        // si tiene consultas
                        foreach (var consulta in Model.Consultas.Where(c => c.Visible == true))
                        {
                            <!-- Comment with nested comments -->
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">@consulta.Usuario.Nombre @consulta.Usuario.Apellido</h5>
                                    @consulta.Descripcion
                                    @if (consulta.Respuesta != null)
                                    {
                                        <!--replica -->
                                        <div class="media mt-4">
                                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                            <div class="media-body">
                                                <h5 class="mt-0">@consulta.Publicacion.Usuario.Nombre @consulta.Publicacion.Usuario.Apellido</h5>
                                                @consulta.Respuesta
                                            </div>
                                        </div>
                                        <!--replica -->
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>


        <!-- Modal calificaciones-->
        <div id="modalCalif" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Calificaciones</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @if (Model.PublicacionCalificaciones.Count() > 0)
                        {
                            foreach (var calificacion in Model.PublicacionCalificaciones)
                            {

                                for (int i = 0; i < @calificacion.Puntaje; i++)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                for (int i = @calificacion.Puntaje; i < 5; i++)
                                {
                                    <span class="fa fa-star"></span>
                                }
                                <p>@calificacion.Comentario</p>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>

@section Scripts{
    <script>
        var diasSelec = [];
        $(document).ready(function () {
            console.log("el documento se cargó")
            var idPrestador = @Model.Usuario.Id;
            var idPubli = @Model.Id;
            $.ajax({
                data: {
                    publicacionId: idPubli,
                },
                type: "get",
                url: "@Url.Action("DameContratacionesDeUnaPublicacion","Home")",
                success: function (fechasContrataciones) {
                    if (fechasContrataciones == "NOTOK") {
                        console.log("no hay contrataciones");
                    }
                    else {
                        fechasContrataciones = convertirAArray(fechasContrataciones)
                         $.ajax({
                                data: {
                                    publicacionId: idPubli
                            },
                            type: "get",
                            url: "@Url.Action("DameDiasNoDisponiblesPubli","Home")",
                                success: function (noDisponibles) {
                                        $('.picker').datepicker({
                                            language: 'es',
                                                onRenderCell: function (date, cellType) {
                                                    if (cellType == "day") {
                                                        var isDisabled;
                                                        fechasContrataciones.forEach(function (el) {
                                                            if (el == date.getTime()) {
                                                                isDisabled = true
                                                            }
                                                        })
                                                        noDisponibles.forEach(function (el) {
                                                             if (el == date.getDay()) {
                                                                isDisabled = true
                                                            }
                                                        });
                                                        return {
                                                            disabled: isDisabled
                                                        }
                                                    }
                                            },
                                            minDate: new Date(),
                                                onSelect: function onSelect(fd, date) {
                                                    diasSelec = [];
                                                    date.forEach(function (value) {
                                                        diasSelec.push(JSON.stringify(value))
                                                })
                                            },
                                        });
                            },
                                error: function () {
                                    alert("Se presentó un error.");
                            }
                            });//fin ajax no disponibles

                    }// fin else
                },
                error: function () {
                    alert("Se presentó un error.");
                }
            })
        });

        function mostrarComentarios() {
            $("#modalCalif").modal("show");
        }

        function contratar(userId, publicacionId) {
            if (diasSelec.length == 0) {
                alert("Debe seleccionar al menos una fecha para realizar la contratación.");
            } else {
                 $.ajax({
                    data: {
                        diasSeleccionados: diasSelec,
                        usuarioId: userId,
                        publicacionId: publicacionId
                },
                type: "post",
                url: "/Publication/CrearContratacion",
                    success: function (result) {
                        if (result == "NOTOK") {
                            alert("Usted no puede autocontratarse.");
                        } else {
                            window.location = "/MercadoPago/PagarContratacion?contratacionId="+result;
                        }
                },
                     error: function () {
                         alert("Se presentó un error.");
                }
            });
            }
        }

        function crearConsulta(texto) {
            $.ajax({
                data: {
                    publiId: @Model.Id,
                    descripcion: texto
                },
                type: "post",
                url: "@Url.Action("CrearConsulta","Account")",
                success: function (result) {
                    if (result == "NotAllowed") {
                        alert("La sesión ha expirado.")
                    } else if (result == "guardado") {
                        location.reload(true);
                    }
                },
                error: function () {
                    alert("Se presentó un error.");
                }
            })
        }

        //COMENTARIOS

        $("#comentar_btn").on("click", function (e) {
            e.preventDefault();
            var texto = $("#texto_comentario").val();
            if (!texto) {
                return false;
            } else {
                crearConsulta(texto);
            }

        })


        //funciones auxiliares

        function dameParteEntera(string) {
            return string.match(/\d+/g).map(Number);
        }
        function convertirAArray(string)
        {
            var lista = []
            $.each(string, function (pos, valor) {
                var val = valor.match(/\d+/g).map(Number)[0];
                lista.push(val);
            });
            return lista;
        }

    </script>
}