@model IEnumerable<EcommerceProject.Models.Contratacion>

@{
    ViewBag.Title = "Servicios Contratados";
}

<head>
    <link href="~/Content/Publicidad.css" rel="stylesheet" />
</head>

<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="flex-rectangle center color"><h4>PUBLICIDAD</h4></div>
    <hr />
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-10">
        @if (Model.Count() > 0)
        {
            <div class="well">
                <div class="list-group">
                    @foreach (var contratacion in Model)
                    {
                        <div class="card" style="width: 100%">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted"><span>@contratacion.Estado</span></h6>
                                <p class="card-text">@contratacion.Publicacion.Titulo</p>
                                <hr />
                                <div class="float-right">
                                    @if (contratacion.Estado != "Cancelada")
                                    {
                                        <button onclick="cancelarContratacion(@contratacion.Id)" class="btn btn-danger">Cancelar</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        }
        else
        {
            <div class="well">
                <h4>No cuenta con contrataciones.</h4>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
           function cancelarContratacion(id) {
            $.ajax({
                data: {
                    id: id,
                },
                type: "post",
                url: "@Url.Action("CancelarContratacion","Account")",
                success: function (result) {
                    if (result == "NotAllowed") {
                        alert("sesion expirada")
                    } else if (result == "cancelada") {
                        location.reload(true);
                    }
                },
                error: function (result) {
                    alert("Se presentó un error.", result);
                }
            })
        }
    </script>
}